* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 60vh;
}

.container {
    width: 90%;
    margin: 2rem auto;
}

/*navbar*/
.navbar {
    display: flex;
    justify-content: space-between;
}

.nav-header {
    font-size: 0.8rem;
}

.btn {
    padding: 0.3rem 2.8rem;
    background-color: green;
    font-size: 0.8rem;
}

/*Showcase*/

.location {
    padding-top: 8rem;
    padding-bottom: 3rem;
}

.location-timezone {
    font-size: 1.0rem;
    padding-bottom: 0.5rem;
}

.location-name {
    font-size: 2.8rem;

}

/* Temperature-section */

.temperature {
    display: flex;
    /* justify-content: space-around; */
}

.degree-section {
    padding-right: 8rem;
}

.temperature-degree {
    font-size: 3.5rem;

}

.temperature-description-0 {
    font-size: 1.0rem;
}

.temperature-name {
    font-size: 1.0rem;
}

.temperature-description {
    font-size: 1.5rem;
}